*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root{
    --color-side-bar: #0A1015;
    --text-color-second: #92989C;
    --text-color-first: #ffffff;
    --navbar-background: #F6F7F8;
    --background-main-section: #ebebeb;
}

.view-main{
    width: 100vw;
    min-width: 100dvw;

    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    background-color: var(--color-side-bar);
    color: var(--text-color-first);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    overflow: hidden;
}

.logo{
    padding: 1rem;
    font-size: 3rem;
    font-weight: 900;
}

.list-services{
    list-style: none;
    line-height: 2.5;
}

.list-services li{
    font-size: 0.9rem;
    font-weight: 300;
}

.list-services .bx{
    margin-right: 0.4rem;
}

.img-sidebar{
    width: 100%;
    height: 40vh;

    background-image: url(assets/image-sidebar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.principal{
    background-color: var(--background-main-section);
}

.navbar{
    background-color: var(--text-color-first);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;

    box-shadow: rgba(0, 0, 0, 0.3) 1px -5px 20px 1px;
}

.buscador{
    background-color: var(--navbar-background);
    border: solid .2px #c3cacf;
    border-radius: 0.5rem;
    padding: 0.2rem;
    
}

.user-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem 0.9rem;
}

.user-contain p{
        font-weight: 700;
        font-size: 0.8rem;
        color: var(--text-color-second);
}

.bx-user{
    font-size: 1.3rem;
    color: var(--text-color-second);
}

.bar-second{
    background-color: var(--text-color-first);
    border: solid black 1px;
    margin-top: 2rem;
    margin-left: 2rem;

    

    border-radius: 0.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-products{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.icon-products{
    background-color: purple;

    
}
